.u-mbs{ //utility-margin-bottom-big
    margin-bottom: 1.5rem;
}

.u-mbm{ //utility-margin-bottom-medium
    margin-bottom: 4rem;
}
.u-mbb{ //utility-margin-bottom-big
    margin-bottom: 8rem;
}

.u-mtb{ //utility-margin-top-big
    margin-top: 8rem;
}

.u-mth{ //utility-margin-top-huge
    margin-top: 10rem;
}

.u-center{
    width: 100%;
    text-align: center;
}