.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0 0 0;
    margin-top: -20vh;

}

.about-gallery {
    display: flex;
    justify-content: space-between;
    flex: 0 0 0px;
    margin: 0 10vw;

    &__description,
    &__images {
        width: 50%;
        padding: 0 2rem;
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;

    &__cards {
        display: flex;
        justify-content: space-around;

        @media screen and (min-width:92rem) {
            padding: 0 10vw;
        }
    }
}